@model YourDailyWord.Models.WordDetailModel

<div class= "container body-content">
        <div class="gallery-image">
            <img src="@Model.Url" alt="@Model.Title" />
            </div>
    <div class="row">
        <span>Title: @Model.BibleVerse</span>
        <span>Description: @Model.Description</span>
    </div>
    <div class="row">
        <a class="btn btn-primary" asp-controller="Word" asp-action="Index">Back to Word</a>
    </div>
</div>