@model YourDailyWord.Models.WordIndexModel

<div class= "container body-content">
     <div class ="wordGallery-content">
         @foreach (var image in Model.WordGallery)
         {
             <a asp-controller="Word" asp-action="Detail" asp-route-id="@image.Id">
                <div class="gallery-image" style="background-image:url(@image.Url)"></div>
             </a>
         }
     </div>
</div>