@model YourDailyWord.Models.WordIndexModel

<div class= "container body-content">
     <div class ="wordGallery-content">
         @foreach (var image in Model.WordGallery)
         {
             <div class="gallery-image" style="background-image:url(@image.Url)"></div>
         }
     </div>
</div>